# Concept


- 범주형(categorical) 기본정보 + 금융정보(ASS_FIN, M_TOT_SAVING, TOT_SOBI)의 6분위 그룹 정보의 그룹핑 넘버

    -  Algorithm => k-modes

In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict, OrderedDict, Iterable

##### Distribution detection func

In [2]:
def sep6_percentile(data, col, name = 'GROUP_1'):

    qt = list(data[col].describe()[3:8])
    IQR1_5 = qt[3] + ((qt[3] - qt[1]) * 1.5) ; qt.insert(-1, IQR1_5)
    IQR3 = qt[3] + ((qt[3] - qt[1]) * 3); qt.insert(-1, IQR3)

    for i in range(len(qt) - 1):
        idx = list(data[data[col].between(qt[i], qt[i+1], inclusive=True)].index)
        data.loc[np.array(idx), name] = i+1 
    data[name] = data[name].astype(int)
    return data

##### Percentile conversion func

In [3]:
def sep_percentile(data, col, per):
    per_li = []
    per_su = 0
    prd = 100 / per
    
    for i in range(per):
        per_su += prd
        per_li.append(per_su)
    k = np.percentile(data[col], per_li)
  
    return k

In [4]:
def flatten(x):
    result = []
    for el in x:
        if hasattr(el, "__iter__") and not isinstance(el, str): 
            result.extend(flatten(el)) 
        else:
            result.append(el)
    return result

In [5]:
pd.DataFrame.less = lambda df, n=10: df.head(n//2).append(df.tail(n//2))

In [6]:
data = pd.read_csv('SHINHANBANK_Mission_NO1.csv')

In [7]:
data.less()

,SEX_GBN,AGE_GBN,JOB_GBN,ADD_GBN,INCOME_GBN,MARRY_Y,DOUBLE_IN,NUMCHILD,ASS_FIN,M_TOT_SAVING,TOT_SOBI
0,1,2,2,1,1,1.0,1.0,0.0,149.272428,18.691837,29.998798
1,1,2,2,1,1,2.0,1.0,0.0,393.793818,13.060307,26.676347
2,1,2,2,1,1,4.0,1.0,0.0,483.979332,5.877057,33.261362
3,1,2,2,1,1,1.0,2.0,0.0,149.272428,18.691837,29.998798
4,1,2,2,1,1,2.0,2.0,0.0,416.393802,13.540199,12.658689
141745,2,6,11,5,7,2.0,2.0,4.0,8996.353516,170.845979,345.437042
141746,2,6,11,5,7,4.0,2.0,4.0,6091.125000,173.923507,414.718872
141747,2,6,11,5,7,1.0,4.0,4.0,6418.775879,93.241959,308.306074
141748,2,6,11,5,7,2.0,4.0,4.0,7248.348786,150.396927,360.185577
141749,2,6,11,5,7,4.0,4.0,4.0,9392.298828,159.769287,402.037059

___

##### Group number assignment

In [8]:
sep6_percentile(data,'ASS_FIN', 'ASS_GROUP').less(10)

,SEX_GBN,AGE_GBN,JOB_GBN,ADD_GBN,INCOME_GBN,MARRY_Y,DOUBLE_IN,NUMCHILD,ASS_FIN,M_TOT_SAVING,TOT_SOBI,ASS_GROUP
0,1,2,2,1,1,1.0,1.0,0.0,149.272428,18.691837,29.998798,1
1,1,2,2,1,1,2.0,1.0,0.0,393.793818,13.060307,26.676347,1
2,1,2,2,1,1,4.0,1.0,0.0,483.979332,5.877057,33.261362,1
3,1,2,2,1,1,1.0,2.0,0.0,149.272428,18.691837,29.998798,1
4,1,2,2,1,1,2.0,2.0,0.0,416.393802,13.540199,12.658689,1
141745,2,6,11,5,7,2.0,2.0,4.0,8996.353516,170.845979,345.437042,5
141746,2,6,11,5,7,4.0,2.0,4.0,6091.125000,173.923507,414.718872,4
141747,2,6,11,5,7,1.0,4.0,4.0,6418.775879,93.241959,308.306074,4
141748,2,6,11,5,7,2.0,4.0,4.0,7248.348786,150.396927,360.185577,5
141749,2,6,11,5,7,4.0,4.0,4.0,9392.298828,159.769287,402.037059,5

In [9]:
sep6_percentile(data,'M_TOT_SAVING', 'SAVING_GROUP').less(10)

,SEX_GBN,AGE_GBN,JOB_GBN,ADD_GBN,INCOME_GBN,MARRY_Y,DOUBLE_IN,NUMCHILD,ASS_FIN,M_TOT_SAVING,TOT_SOBI,ASS_GROUP,SAVING_GROUP
0,1,2,2,1,1,1.0,1.0,0.0,149.272428,18.691837,29.998798,1,1
1,1,2,2,1,1,2.0,1.0,0.0,393.793818,13.060307,26.676347,1,1
2,1,2,2,1,1,4.0,1.0,0.0,483.979332,5.877057,33.261362,1,1
3,1,2,2,1,1,1.0,2.0,0.0,149.272428,18.691837,29.998798,1,1
4,1,2,2,1,1,2.0,2.0,0.0,416.393802,13.540199,12.658689,1,1
141745,2,6,11,5,7,2.0,2.0,4.0,8996.353516,170.845979,345.437042,5,4
141746,2,6,11,5,7,4.0,2.0,4.0,6091.125000,173.923507,414.718872,4,4
141747,2,6,11,5,7,1.0,4.0,4.0,6418.775879,93.241959,308.306074,4,4
141748,2,6,11,5,7,2.0,4.0,4.0,7248.348786,150.396927,360.185577,5,4
141749,2,6,11,5,7,4.0,4.0,4.0,9392.298828,159.769287,402.037059,5,4

In [10]:
sep6_percentile(data,'TOT_SOBI', 'SOBI_GROUP').less(10)

,SEX_GBN,AGE_GBN,JOB_GBN,ADD_GBN,INCOME_GBN,MARRY_Y,DOUBLE_IN,NUMCHILD,ASS_FIN,M_TOT_SAVING,TOT_SOBI,ASS_GROUP,SAVING_GROUP,SOBI_GROUP
0,1,2,2,1,1,1.0,1.0,0.0,149.272428,18.691837,29.998798,1,1,1
1,1,2,2,1,1,2.0,1.0,0.0,393.793818,13.060307,26.676347,1,1,1
2,1,2,2,1,1,4.0,1.0,0.0,483.979332,5.877057,33.261362,1,1,1
3,1,2,2,1,1,1.0,2.0,0.0,149.272428,18.691837,29.998798,1,1,1
4,1,2,2,1,1,2.0,2.0,0.0,416.393802,13.540199,12.658689,1,1,1
141745,2,6,11,5,7,2.0,2.0,4.0,8996.353516,170.845979,345.437042,5,4,4
141746,2,6,11,5,7,4.0,2.0,4.0,6091.125000,173.923507,414.718872,4,4,4
141747,2,6,11,5,7,1.0,4.0,4.0,6418.775879,93.241959,308.306074,4,4,4
141748,2,6,11,5,7,2.0,4.0,4.0,7248.348786,150.396927,360.185577,5,4,4
141749,2,6,11,5,7,4.0,4.0,4.0,9392.298828,159.769287,402.037059,5,4,4

___

##### Category type conversion

In [11]:
categories = ['SEX_GBN', 'AGE_GBN', 'JOB_GBN', 'ADD_GBN', 'INCOME_GBN','MARRY_Y', 'DOUBLE_IN', 'NUMCHILD','SOBI_GROUP','SAVING_GROUP','ASS_GROUP']
continues = ['ASS_FIN', 'M_TOT_SAVING','TOT_SOBI']

In [12]:
for cat in categories:
    data[cat] = data[cat].astype(object)

In [13]:
cat_data = data.drop(['TOT_SOBI','ASS_FIN','M_TOT_SAVING'], axis = 1)

In [14]:
cat_data.less(10)

,SEX_GBN,AGE_GBN,JOB_GBN,ADD_GBN,INCOME_GBN,MARRY_Y,DOUBLE_IN,NUMCHILD,ASS_GROUP,SAVING_GROUP,SOBI_GROUP
0,1,2,2,1,1,1,1,0,1,1,1
1,1,2,2,1,1,2,1,0,1,1,1
2,1,2,2,1,1,4,1,0,1,1,1
3,1,2,2,1,1,1,2,0,1,1,1
4,1,2,2,1,1,2,2,0,1,1,1
141745,2,6,11,5,7,2,2,4,5,4,4
141746,2,6,11,5,7,4,2,4,4,4,4
141747,2,6,11,5,7,1,4,4,4,4,4
141748,2,6,11,5,7,2,4,4,5,4,4
141749,2,6,11,5,7,4,4,4,5,4,4

In [15]:
cat_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141750 entries, 0 to 141749
Data columns (total 11 columns):
SEX_GBN         141750 non-null object
AGE_GBN         141750 non-null object
JOB_GBN         141750 non-null object
ADD_GBN         141750 non-null object
INCOME_GBN      141750 non-null object
MARRY_Y         141750 non-null object
DOUBLE_IN       141750 non-null object
NUMCHILD        141750 non-null object
ASS_GROUP       141750 non-null object
SAVING_GROUP    141750 non-null object
SOBI_GROUP      141750 non-null object
dtypes: object(11)
memory usage: 11.9+ MB

___

#####  Group No. Classification

In [16]:
from kmodes.kmodes import KModes

In [17]:
km = KModes(n_clusters=120, init='Huang', n_init=5, verbose=0)

In [18]:
km_pre = km.fit_predict(cat_data)

In [19]:
M2_set = pd.concat([pd.Series(km_pre, name = 'Peer_Group'), data.iloc[:,:11]], axis =1)

##### Group's descriptive statistics

In [20]:
M2_set.groupby('Peer_Group').agg(['mean','median','std','min','max'])

                ASS_FIN                                                       \
                   mean       median          std          min           max
Peer_Group
0           1076.586747   984.398196   731.147337    72.144203  19839.583225
1           5318.474856  4493.801854  3735.700712   248.022629  53657.089844
2           1212.917992  1074.046509  1569.506503   273.757690  49258.863281
3           3567.912125  3569.029932  1763.308024   467.066489  49258.863281
4           6198.195477  5678.242432  4051.306679   248.022629  49258.863281
5           2341.618668  2203.802407   810.907264   431.200552   8393.705817
6            902.867773   659.746704  1204.427229    72.144203  17275.507812
7            875.702688   858.383641   407.152315    99.079708   7623.422274
8           3930.809849  3954.004899  1421.978704   169.661983  19839.583225
9           2799.610216  2593.516827  1795.766316   129.286894  29244.126953
10           905.086224   877.305622   576.345577    81.040711  19839.583225
11          4773.105042  4164.013082  2590.286672   577.097839  37191.230469
12           471.579878   401.937795   331.288566    76.895203   2736.370043
13          4443.838374  4210.866211  1616.831408   417.208039  16998.125000
14           559.029879   379.755214  1350.218700    72.144203  29244.126953
15          2367.137068  2169.698358   949.517495   965.384531  11223.307494
16           888.893152   570.591116  1734.571463    99.079708  19839.583225
17           645.336623   564.349693   403.017316   175.195404  10672.640303
18          4169.956108  3599.215082  2848.194506   579.555054  18619.347656
19          1175.614484  1123.345516   513.678903   171.934617  11223.307494
20           539.755664   496.156433   479.459068   108.935410  12039.479089
21          4710.784102  4268.002409  1812.768563   742.982644  15852.301758
22          2307.520526  2146.906288   940.540490   467.070102  11093.399743
23          2014.156279  1839.100045   860.537123   585.053234   8393.705817
24          1282.727532  1150.755127   628.594090   499.688110   7896.905273
25          1312.988298  1139.067054   855.929412   159.579705   7740.904643
26          3124.764816  2881.195595  1493.252811   293.789799  17875.667202
27           606.199723   474.399248   760.568153    99.079708   8393.705817
28           683.750979   410.516167  1216.508856    72.144203  12157.410372
29           853.824043   560.667721  1523.699168   105.153545  12770.518086
...                 ...          ...          ...          ...           ...
90           966.387224   921.159306   228.658810   273.757690   1653.416062
91          2324.513663  2159.499187   796.120514  1165.969238   7896.905273
92          4484.658038  4334.065420  1403.280623   585.053234  18619.347656
93          1181.547392  1173.169884   203.084234   783.245616   2417.504731
94           606.357086   473.018036   904.988707   111.763123  18338.693359
95          4344.613103  2934.707948  3979.830861   248.022629  53657.089844
96          1116.634924  1064.229778  1024.376987   181.377011  19839.583225
97           753.131636   542.632869   605.945771   127.751129   3072.160449
98          1051.040425  1001.337075   286.727831   433.215673   2601.416748
99           979.956201   895.763077   339.059833    72.144203   3268.539307
100         2336.834887  2134.500483   899.624726   504.225242   8870.498178
101         5047.242603  4856.509581  1241.304416  1314.201362  11151.754670
102         4388.429944  4386.213734  1453.998287   248.022629  19948.579998
103         2190.702809  2030.469482   782.866273   538.012939   9268.328125
104         2010.829842  1888.852051   608.748588   570.903564   6475.876259
105         1040.739046   969.197524   340.414121   427.512915   6011.856098
106          740.443875   585.053234   602.410945   135.635207   4479.602829
107         1216.974471  1153.318997   456.120218   527.004812   6475.876259
108         1961.144668  1918.658061   845.904575   613.986206  10834.965863
109         1204.189825  1060.813353   870.439657   318.469450  12053.417299
110         1103.718105   934.128339   930.514938   513.542853  11223.307494
111         4737.784656  4196.829206  2554.101893  1721.234497  53657.089844
112         6783.539325  6025.755870  4274.206723   625.362994  37191.230469
113         1327.678359   572.406127  2594.009264   171.934617  17275.507812
114         1954.043713  1385.953857  1276.659970   540.099601   7896.905273
115         5274.228613  4461.530505  2738.641456  1295.941040  15852.301758
116         1634.361841  1635.630005   648.165227   120.648286   8597.158203
117         5296.529708  4369.218002  4836.454245   212.899689  53657.089844
118          453.667435   445.016571   228.939445    79.313584   1862.849985
119          577.047926   440.607254   514.469368    72.144203   6977.977261

           M_TOT_SAVING                                                \
                   mean      median        std        min         max
Peer_Group
0             30.840641   26.867670  21.416210   3.433541  431.368927
1            146.044352  138.422178  67.563329   8.411779  521.268059
2             30.760400   27.884169  19.997236   2.949056  279.277130
3             75.710169   66.249733  46.468303   8.411779  521.268059
4            144.847196  154.711014  38.033678   3.433541  375.739337
5             60.273307   57.088064  19.769039   5.137300  521.268059
6             27.466272   23.054328  23.932173   4.546924  263.410858
7             31.915121   27.583229  15.710219   1.703717  252.163518
8             67.442584   57.868872  44.448525   8.411779  375.739337
9             64.591050   60.693422  38.162015   8.411779  375.516291
10            21.591188   15.496967  18.868621   2.241523  347.586610
11           102.690106   90.407785  40.636670  13.887721  431.368927
12            11.894893    9.123190   9.507003   2.063214  109.591143
13            96.530979   88.974539  54.459206   5.137300  521.268059
14            14.369955    9.465768  27.368390   0.278316  279.277130
15            60.714069   56.854759  18.369026   8.411779  289.776286
16            32.594262   23.631789  41.175995   3.281521  347.586610
17            15.809214   14.923505   9.147117   3.433541  165.322641
18            99.904746   89.095875  40.178256   6.323967  269.133135
19            33.131600   33.143536  11.948117   9.551630  277.393219
20            14.607954   13.657253  10.121998   0.278316  207.060837
21           103.898566   91.414906  34.953595   8.374063  315.882708
22            66.811517   68.579887  21.008892  14.425930  218.025528
23            67.808578   65.455164  23.081220   6.106658  289.845238
24            54.227234   57.634590  14.700720   8.796465  104.302078
25            26.861927   20.372139  26.398473   2.238881  272.876646
26            91.295982   87.281639  30.576514   5.137300  272.876646
27            14.740086   11.749041  12.420346   0.278316  109.529916
28            14.657126   10.354047  20.819126   0.278316  211.077896
29            19.865877   13.480889  31.179080   1.298184  296.983093
...                 ...         ...        ...        ...         ...
90            28.663374   26.346851   9.594152   6.493380   63.266077
91            59.901204   58.570956  10.130440  35.534256  140.164926
92            91.656227   73.344579  64.218180  25.353739  521.268059
93            37.763704   37.258560   6.317988  13.462692   81.614787
94            11.338274   11.040720   9.288856   0.278316  179.374800
95           139.365424  121.984863  66.528278   5.137300  362.520561
96            30.314313   26.583439  20.356078   5.137300  347.586610
97            15.923579   14.497841  15.153497   4.546150  252.163518
98            19.774799   15.542171  11.572624   3.554712   75.740558
99            13.773570   10.970226  15.999028   2.250664  175.195988
100           55.595947   55.037468  13.981051  18.683678  277.393219
101          154.800434  155.318130  42.541243  54.294823  521.268059
102          145.076724  139.929679  59.463376  31.136285  375.516291
103           58.753983   56.883293  11.157524   8.411779  132.744873
104           37.982166   36.572361  18.984465  15.090862  269.133135
105           27.379563   25.052263   9.457084   9.463034  176.075577
106           49.100904   55.515148  16.545668   8.257652   92.240134
107           48.426057   47.138687  12.970567   9.186507   93.634597
108           55.732824   56.636791  28.565415   5.137300  289.776286
109           28.480226   25.145706  19.418438   5.137300  249.425369
110           29.529912   26.066780  21.791045   3.554712  279.277130
111           99.926307   91.988823  41.992088  23.561637  375.739337
112          199.725358  189.339233  45.423683  30.493589  431.368927
113           34.286491   22.757120  40.702882   1.597764  211.077896
114           61.440766   58.408675  25.910693  16.007284  267.813221
115           79.991219   76.713966  29.999347  35.537816  243.824509
116           14.330247   10.761680  12.641848   3.433541  165.389501
117          126.582536  120.537344  54.160682   8.411779  521.268059
118           16.337868   12.548871  10.958625   0.922725   68.153100
119           12.664778   12.179463   7.570798   2.238881  143.572021

              TOT_SOBI
                  mean      median        std         min         max
Peer_Group
0           119.832879  119.100018  36.101040   17.260132  447.693501
1           275.729246  269.431012  76.287732   81.644839  624.955688
2           124.461865  116.698957  40.467104   33.554124  498.655182
3           184.333717  175.736702  36.459820   63.700332  372.103180
4           331.335727  323.017987  74.861559   83.429184  624.955688
5           195.273793  195.225243  27.321658   65.641275  314.606323
6           130.965356  121.618050  56.325386   12.670267  610.777954
7            87.494816   82.604239  32.507906   12.608114  361.507910
8           231.224095  232.369966  49.464074   32.575075  426.761461
9           245.552379  242.895625  65.933135   48.714721  624.955688
10           76.101431   75.394209  26.471293   11.654006  426.761461
11          273.062239  266.190506  60.426579   72.697024  597.080261
12           41.296536   34.386373  22.128095   12.507887  267.341034
13          267.814642  256.868895  60.090435   29.693850  516.179218
14           55.102086   43.808244  52.855383   11.103896  624.955688
15          198.242672  195.217518  35.082590   88.084907  521.120833
16           98.235086   96.113927  44.850189   12.670267  426.761461
17          100.611003   99.085758  23.688217   15.381751  352.183751
18          185.870101  181.861726  27.319416   28.138836  357.492765
19          177.235736  175.812395  30.761429   57.274414  488.980811
20           73.220980   76.590065  31.132012   14.134063  500.855342
21          283.766580  267.206077  64.419669   55.879920  584.900958
22          200.151590  197.667080  39.335482  100.232412  485.265410
23          149.318733  139.243132  40.384356   65.835590  403.430592
24          138.795469  140.639587  34.130294   33.614624  402.376442
25          102.502937   82.201506  55.655909   26.201638  439.457070
26          268.602190  257.118431  64.817059   44.226256  527.587403
27          109.979287  106.032609  27.433596   29.838770  267.341034
28           65.931647   54.420094  67.341875   12.608114  584.900958
29          107.353096   99.512212  59.696727   11.654006  510.826042
...                ...         ...        ...         ...         ...
90          121.861839  124.067930  20.281499   29.542663  227.763733
91          190.715564  190.126938  31.759349   98.616014  312.337255
92          185.803334  182.528153  27.574715   81.167819  461.242194
93          140.571919  140.952721  20.441536   95.270096  261.072473
94           58.080963   51.694000  37.581002   11.417134  597.080261
95          283.543915  272.180531  73.359002   31.529796  584.900958
96          118.398781  110.524798  42.018537   19.283019  426.761461
97           96.229730   96.079088  21.874039   32.169459  351.373169
98          121.135388  118.155947  19.177519   38.222554  225.961853
99           54.193637   53.378044  39.518430    4.949743  283.957886
100         206.259704  208.764710  34.383867   71.751428  450.566454
101         302.861061  299.245826  56.023209  148.929806  531.293610
102         284.226291  275.193420  72.726804   65.641275  550.710069
103         196.002265  196.796661  28.932153   68.406601  299.391083
104         184.289319  184.717180  20.808125   31.529796  267.167251
105         124.931372  126.127511  22.395750   36.945660  328.041251
106          80.534220   75.223966  30.278235   28.071413  305.909706
107         139.992265  140.374564  23.866399   65.313953  231.004217
108         123.061219  118.199417  24.577504   81.726138  248.933174
109         134.569298  124.633064  51.563725   69.374613  516.179218
110         128.504424  127.277867  41.131768   35.123164  510.826042
111         255.433748  252.288136  42.069615  129.511983  420.248901
112         312.570740  304.187758  63.736432   71.267424  624.955688
113         155.190353  131.945514  96.278626   47.460442  565.041214
114         178.828706  178.672916  36.503957   80.756504  402.376442
115         269.102758  268.121216  38.624258  109.412376  392.837848
116          96.348990   98.507080  53.776987   11.103896  374.568756
117         232.198637  205.046334  82.931056   40.105980  584.900958
118          68.603841   72.585403  20.868885   12.608114  125.988886
119          45.123417   35.011738  30.453006   11.103896  448.029896

[120 rows x 15 columns]

- 그룹내의 평균과 중앙값이 근접해 있으며 각 그룹간 특성들이 분리 되어 있음을 볼 수 있다.

In [73]:
print(M2_set[M2_set['Peer_Group'] == 2].describe())
M2_set[M2_set['Peer_Group'] == 2].iloc[:,:9].apply(lambda x : x.value_counts()).fillna("")

       Peer_Group       ASS_FIN  M_TOT_SAVING     TOT_SOBI
count      1704.0   1704.000000   1704.000000  1704.000000
mean          2.0   1212.917992     30.760400   124.461865
std           0.0   1569.506503     19.997236    40.467104
min           2.0    273.757690      2.949056    33.554124
25%           2.0    815.400521     22.860478   104.404881
50%           2.0   1074.046509     27.884169   116.698957
75%           2.0   1262.910645     34.798279   136.908438
max           2.0  49258.863281    279.277130   498.655182

,Peer_Group,SEX_GBN,AGE_GBN,JOB_GBN,ADD_GBN,INCOME_GBN,MARRY_Y,DOUBLE_IN,NUMCHILD
0.0,,,,,,,,,220
1.0,,515,,,121,28,500,315,310
2.0,1704,1189,99,140,206,150,314,315,247
3.0,,,,164,1263,1298,,,118
4.0,,,1006,452,114,181,890,1074,809
5.0,,,227,,,27,,,
6.0,,,372,180,,3,,,
7.0,,,,137,,17,,,
8.0,,,,144,,,,,
9.0,,,,172,,,,,
10.0,,,,132,,,,,
11.0,,,,183,,,,,

In [69]:
print(M2_set[M2_set['Peer_Group'] == 28].describe())
M2_set[M2_set['Peer_Group'] == 28].iloc[:,:9].apply(lambda x : x.value_counts()).fillna("")

       Peer_Group       ASS_FIN  M_TOT_SAVING     TOT_SOBI
count      1439.0   1439.000000   1439.000000  1439.000000
mean         28.0    683.750979     14.657126    65.931647
std           0.0   1216.508856     20.819126    67.341875
min          28.0     72.144203      0.278316    12.608114
25%          28.0    307.658607      7.490812    38.910612
50%          28.0    410.516167     10.354047    54.420094
75%          28.0    573.536940     14.743683    70.269521
max          28.0  12157.410372    211.077896   584.900958

,Peer_Group,SEX_GBN,AGE_GBN,JOB_GBN,ADD_GBN,INCOME_GBN,MARRY_Y,DOUBLE_IN,NUMCHILD
0.0,,,,,,,,,89
1.0,,1006,,,127,1281,191,1070,235
2.0,,433,162,142,193,92,280,233,165
3.0,,,51,108,246,27,,,777
4.0,,,200,77,650,7,968,136,173
5.0,,,176,,223,5,,,
6.0,,,850,137,,,,,
7.0,,,,72,,27,,,
8.0,,,,142,,,,,
9.0,,,,563,,,,,
10.0,,,,135,,,,,
11.0,,,,63,,,,,
28.0,1439,,,,,,,,

In [71]:
print(M2_set[M2_set['Peer_Group'] == 118].describe())
M2_set[M2_set['Peer_Group'] == 118].iloc[:,:9].apply(lambda x : x.value_counts()).fillna("")

       Peer_Group      ASS_FIN  M_TOT_SAVING    TOT_SOBI
count       672.0   672.000000    672.000000  672.000000
mean        118.0   453.667435     16.337868   68.603841
std           0.0   228.939445     10.958625   20.868885
min         118.0    79.313584      0.922725   12.608114
25%         118.0   305.755220     10.437183   59.367155
50%         118.0   445.016571     12.548871   72.585403
75%         118.0   557.529929     18.916499   83.125311
max         118.0  1862.849985     68.153100  125.988886

,Peer_Group,SEX_GBN,AGE_GBN,JOB_GBN,ADD_GBN,INCOME_GBN,MARRY_Y,DOUBLE_IN,NUMCHILD
0.0,,,,,,,,,31
1.0,,89,,,80,160,507,84,63
2.0,,583,369,38,392,508,65,63,391
3.0,,,53,39,64,3,,,82
4.0,,,136,54,88,1,100,525,105
5.0,,,34,,48,,,,
6.0,,,80,54,,,,,
7.0,,,,46,,,,,
8.0,,,,67,,,,,
9.0,,,,260,,,,,
10.0,,,,61,,,,,
11.0,,,,53,,,,,
118.0,672,,,,,,,,

In [25]:
print(M2_set[M2_set['Peer_Group'] == 119].describe())
M2_set[M2_set['Peer_Group'] == 119].iloc[:,:9].apply(lambda x : x.value_counts()).fillna("")

       Peer_Group      ASS_FIN  M_TOT_SAVING    TOT_SOBI
count       521.0   521.000000    521.000000  521.000000
mean        119.0   577.047926     12.664778   45.123417
std           0.0   514.469368      7.570798   30.453006
min         119.0    72.144203      2.238881   11.103896
25%         119.0   339.610805     10.160198   26.527803
50%         119.0   440.607254     12.179463   35.011738
75%         119.0   612.664560     13.706712   57.869526
max         119.0  6977.977261    143.572021  448.029896

,Peer_Group,SEX_GBN,AGE_GBN,JOB_GBN,ADD_GBN,INCOME_GBN,MARRY_Y,DOUBLE_IN,NUMCHILD
0.0,,,,,,,,,50
1.0,,375,,,24,465,97,42,67
2.0,,146,49,39,30,43,389,429,40
3.0,,,52,29,68,12,,,301
4.0,,,75,32,340,,35,50,63
5.0,,,37,,59,,,,
6.0,,,308,36,,,,,
7.0,,,,12,,1,,,
8.0,,,,44,,,,,
9.0,,,,25,,,,,
10.0,,,,45,,,,,
11.0,,,,259,,,,,
119.0,521,,,,,,,,

- 그룹간 평균 값과 중앙 값이 비슷 하더라도 표준편차의 차이있으며 기본 속성들의 분포가 다르다.

___

##### Data processing

In [26]:
temp = np.arange(100)
pr_group = []
for peer in range(len(set(M2_set['Peer_Group']))):
    for col_name in ['ASS_FIN', 'M_TOT_SAVING', 'TOT_SOBI']:
        gr = sep_percentile(M2_set[M2_set['Peer_Group'] == peer], col_name, 100)
        #print(gr)
        pr_group.append(peer)
        temp = np.vstack([temp, gr])

In [38]:
col = ['백분위수' + str(i) for i in range(1, 101)]

In [49]:
tos = ['금융자산','월저축금액','월소비금액'] * len(set(M2_set['Peer_Group']))

In [50]:
tos.insert(0,0)

In [53]:
cp_col = pd.Series(tos, name = '비교대상컬럼', index = list(range(len(tos))))

In [54]:
cp_data = pd.DataFrame(temp, columns = col)

In [55]:
cp_data.less(10)

,백분위수1,백분위수2,백분위수3,백분위수4,백분위수5,백분위수6,백분위수7,백분위수8,백분위수9,백분위수10,...,백분위수91,백분위수92,백분위수93,백분위수94,백분위수95,백분위수96,백분위수97,백분위수98,백분위수99,백분위수100
0,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000,8.000000,9.000000,...,90.000000,91.000000,92.000000,93.000000,94.000000,95.000000,96.000000,97.000000,98.000000,99.000000
1,439.980847,517.938921,528.854553,547.489929,570.082305,606.400821,632.731650,662.987887,671.667860,701.126038,...,1456.445930,1521.495361,1533.123291,1560.448608,1611.225549,1780.977295,1804.166870,1966.234375,2657.786025,19839.583225
2,8.931134,9.683481,10.502205,13.482373,14.754992,15.549640,16.089199,16.550463,17.903460,18.722761,...,45.231243,45.885937,47.121156,49.896557,51.426971,55.699291,59.260267,61.684003,140.392334,431.368927
3,54.396377,60.434052,65.263555,65.313953,69.374613,74.233940,80.841026,82.138936,88.572594,89.157476,...,148.905273,151.626053,153.188522,153.935209,163.743027,172.093058,174.810228,182.455963,283.957886,447.693501
4,1418.644165,1774.715667,2229.531013,2522.026796,2682.761719,2900.551443,2981.398985,3114.852489,3114.852489,3245.159143,...,8689.207031,8744.886719,9007.875977,9050.805664,9855.588720,9861.216086,10618.521036,11503.176531,13399.700195,53657.089844
356,2.241523,3.706657,3.917887,4.781762,5.180525,5.590497,5.933287,6.270074,6.356704,6.667664,...,31.755753,34.110794,38.295977,41.174719,41.242455,43.072813,47.716221,49.647262,60.782383,68.153100
357,20.213787,22.687530,28.190729,29.947654,29.964299,31.661403,32.022868,33.465678,33.639861,34.547621,...,89.847360,89.910792,91.050629,92.102715,95.673595,96.741608,103.684280,104.769452,112.282974,125.988886
358,129.286894,189.312803,279.206131,284.656891,284.656891,287.149946,287.321364,292.684691,299.400301,303.176605,...,1185.760254,1214.476758,1435.944336,1435.944336,1648.733521,1648.733521,1648.733521,1722.206934,3079.360296,6977.977261
359,2.250664,2.295926,4.947463,6.051803,7.265843,7.537961,7.819882,8.077812,8.077812,8.257652,...,16.673897,17.139527,17.528108,17.660207,19.231204,19.865384,23.755070,30.476964,30.476964,143.572021
360,12.608114,14.015488,16.116381,17.128331,17.128331,17.128331,18.789994,20.277198,20.307420,20.461985,...,82.769637,83.624992,84.828814,85.805239,86.954910,89.071059,90.409714,105.948726,137.966416,448.029896

In [56]:
per_table = pd.concat([cp_col, cp_data], axis = 1)

In [57]:
per_table.drop(0, inplace = True)

In [58]:
per_table

,비교대상컬럼,백분위수1,백분위수2,백분위수3,백분위수4,백분위수5,백분위수6,백분위수7,백분위수8,백분위수9,...,백분위수91,백분위수92,백분위수93,백분위수94,백분위수95,백분위수96,백분위수97,백분위수98,백분위수99,백분위수100
1,금융자산,439.980847,517.938921,528.854553,547.489929,570.082305,606.400821,632.731650,662.987887,671.667860,...,1456.445930,1521.495361,1533.123291,1560.448608,1611.225549,1780.977295,1804.166870,1966.234375,2657.786025,19839.583225
2,월저축금액,8.931134,9.683481,10.502205,13.482373,14.754992,15.549640,16.089199,16.550463,17.903460,...,45.231243,45.885937,47.121156,49.896557,51.426971,55.699291,59.260267,61.684003,140.392334,431.368927
3,월소비금액,54.396377,60.434052,65.263555,65.313953,69.374613,74.233940,80.841026,82.138936,88.572594,...,148.905273,151.626053,153.188522,153.935209,163.743027,172.093058,174.810228,182.455963,283.957886,447.693501
4,금융자산,1418.644165,1774.715667,2229.531013,2522.026796,2682.761719,2900.551443,2981.398985,3114.852489,3114.852489,...,8689.207031,8744.886719,9007.875977,9050.805664,9855.588720,9861.216086,10618.521036,11503.176531,13399.700195,53657.089844
5,월저축금액,33.644389,42.709386,52.434790,56.917841,59.781931,67.924594,72.131714,74.323780,75.593368,...,271.442302,272.876646,273.276151,278.054584,289.776286,298.623292,298.623292,306.819783,364.171819,521.268059
6,월소비금액,129.511983,140.611474,148.929806,149.349901,149.349901,151.534718,157.408667,158.800515,162.974865,...,374.046173,376.090272,382.026955,389.332550,396.440948,397.055025,410.230591,413.221808,440.729908,624.955688
7,금융자산,432.577772,478.664825,571.657017,621.694895,682.360330,694.826298,698.115725,714.682068,721.897484,...,1452.045410,1548.378540,1561.437622,1602.896014,1710.762294,1710.762294,1983.990349,3346.150879,4689.720703,49258.863281
8,월저축금액,9.075326,12.867044,13.717349,14.630147,15.988182,16.551310,17.882690,19.048516,19.198610,...,41.016510,43.818996,46.487862,49.526299,51.519509,51.809979,60.770391,70.271160,107.863011,279.277130
9,월소비금액,71.194756,72.881748,79.848310,82.236271,93.398705,94.112797,94.251001,96.579552,96.988581,...,154.992510,158.212845,161.292136,169.443344,175.932844,181.188171,189.591050,230.582957,261.249216,498.655182
10,금융자산,826.342975,890.660786,1062.459092,1132.645280,1185.327152,1194.712019,1307.799600,1325.037476,1371.272773,...,5522.073490,5720.524866,5853.079063,5880.152431,5978.171387,6150.387695,6331.209961,6859.794427,7860.526855,49258.863281
11,월저축금액,22.411617,29.850568,31.745823,31.745823,40.783802,42.203770,42.312363,42.709386,44.217888,...,99.077904,108.101983,130.545956,147.314400,169.567794,176.544144,253.623764,256.555664,269.133135,521.268059
12,월소비금액,87.158016,91.607636,115.941958,116.490310,136.454902,138.284420,147.582400,155.034263,155.955758,...,224.837143,226.072482,237.955244,240.980814,246.786041,252.288136,264.128841,279.877919,304.522129,372.103180
13,금융자산,1447.675843,1864.988342,2344.627131,2598.699219,2832.059326,3084.863770,3111.950928,3220.496115,3254.630907,...,9866.779297,10067.441406,10137.717169,10480.901773,10969.406250,11519.099609,12322.154297,14903.776367,20551.001953,49258.863281
14,월저축금액,47.814403,64.730034,74.475006,79.807350,82.266212,83.194794,84.315494,86.475352,87.093208,...,178.366760,178.519248,179.326394,181.075379,184.334272,188.217834,194.793304,230.135513,250.904317,375.739337
15,월소비금액,183.952024,201.139694,223.830658,228.860726,229.050241,232.811447,234.593338,237.473328,240.146271,...,430.169861,440.291199,444.703721,451.447776,454.370514,460.698212,482.566703,498.655182,542.173444,624.955688
16,금융자산,1064.499294,1184.244178,1360.719044,1488.140306,1506.757064,1519.276672,1528.827933,1556.633612,1575.666219,...,3191.820511,3193.342044,3216.118003,3343.384277,3765.468547,4239.390897,4732.776855,4794.676338,4806.259092,8393.705817
17,월저축금액,31.136285,33.886208,36.791472,41.109615,41.552747,41.865208,42.667034,42.850895,43.486840,...,78.869873,81.213959,83.181305,86.377780,89.237816,93.098984,104.897614,109.396197,133.040569,521.268059
18,월소비금액,139.659053,146.514740,152.463624,156.065575,157.030950,157.269036,157.761673,158.536138,159.190392,...,225.962529,227.586454,229.808998,231.498584,235.141963,238.147418,246.033005,252.548614,277.975480,314.606323
19,금융자산,188.560379,200.198639,203.047577,316.900387,354.940132,354.940132,366.183899,368.534943,372.789563,...,1607.872437,1612.647744,1668.881470,1674.088455,1852.278687,1858.840703,1983.649048,3169.184524,8644.737156,17275.507812
20,월저축금액,7.310808,7.310808,8.023901,10.192180,10.778188,11.643100,12.369284,12.974366,13.637900,...,39.171899,40.702173,40.702173,43.338004,48.949406,55.599044,61.939999,94.538483,181.465936,263.410858
21,월소비금액,38.746899,58.341713,68.382721,71.025070,73.713272,78.984673,82.140839,83.005196,89.112051,...,168.793335,173.839172,175.056168,181.547055,181.951976,192.741135,229.481644,276.957957,451.282335,610.777954
22,금융자산,247.131516,278.584625,286.623016,304.756283,340.327998,375.001732,422.108868,444.700682,454.568427,...,1303.308702,1334.798132,1373.209717,1400.405818,1413.911499,1444.592651,1553.679565,1644.197792,1644.197792,7623.422274
23,월저축금액,8.656838,10.460826,12.024632,14.261194,15.653448,17.900673,19.635778,19.635778,20.055569,...,49.434143,51.849187,51.849187,60.688598,60.688598,60.688598,60.688598,70.824963,70.824963,252.163518
24,월소비금액,25.802971,33.741193,36.945660,38.521057,48.313984,51.695188,54.462284,58.216477,60.163222,...,131.506249,137.666117,143.033859,146.457958,156.216536,159.617111,163.793576,175.554316,195.125756,361.507910
25,금융자산,855.201965,1418.759410,1565.539917,1618.861954,1757.440716,1886.389893,1953.337380,2034.498330,2092.784668,...,5668.477373,5734.714355,5735.940027,5797.552652,5856.543783,6189.460204,6905.764435,6905.764435,9513.633135,19839.583225
26,월저축금액,20.796895,25.353739,25.448769,31.237011,32.671649,34.420226,35.659335,35.924799,38.571753,...,94.072271,95.296889,103.709515,113.214750,141.846258,175.082108,184.798918,267.813221,278.054584,375.739337
27,월소비금액,106.294209,135.061071,138.463571,145.791565,147.352730,149.230555,157.229940,161.147870,164.229507,...,289.636835,294.184004,303.503646,305.670627,305.670627,309.980970,336.193348,348.714549,382.037980,426.761461
28,금융자산,581.113446,1004.434936,1204.532569,1236.504079,1335.615243,1384.100031,1471.079346,1531.653926,1532.853832,...,4077.513463,4171.088373,4424.341961,4952.398872,5311.881158,5893.146509,6401.254121,9098.380037,10320.558594,29244.126953
29,월저축금액,18.974620,19.247052,20.057442,20.783185,21.416777,22.028299,22.916808,26.079493,26.485207,...,86.780002,89.386538,92.336539,97.134922,135.376453,157.542322,175.167189,198.992784,217.374802,375.516291
30,월소비금액,87.565538,100.920694,109.412376,114.921158,116.965082,131.241166,137.451401,139.898321,146.307420,...,330.997847,335.505706,342.925008,345.763682,350.721163,353.721518,355.147597,370.745833,386.562607,624.955688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,금융자산,700.036170,710.565930,712.413400,718.782379,718.782379,719.193248,727.293216,730.457018,733.716658,...,1394.240381,1409.156587,1471.497788,1502.799569,1502.799569,1710.762294,1710.762294,1788.045486,7849.446988,11223.307494
332,월저축금액,10.722127,14.107492,15.531527,16.273894,19.347044,19.766770,19.952085,20.635647,20.934462,...,37.464793,37.479424,38.562409,39.288995,40.618347,45.158535,46.612194,52.200755,170.957053,279.277130
333,월소비금액,88.614320,93.484337,94.112797,97.448735,97.448735,98.851322,98.851322,98.978138,98.978138,...,149.971496,151.127739,151.343213,151.435559,155.206132,155.207234,157.770330,169.527380,396.112859,510.826042
334,금융자산,1883.962402,2162.618408,2530.202869,2876.238333,2876.346904,2880.956653,2942.421131,3041.153474,3042.422068,...,6859.794427,6859.794427,8689.207031,8689.207031,8935.219798,8935.219798,9056.541016,9861.216086,10196.536117,53657.089844
335,월저축금액,34.358589,38.207292,39.248738,48.532538,51.094473,56.917841,56.917841,60.389169,60.964485,...,144.816055,147.314400,149.925926,161.691063,163.958236,164.486550,171.093751,254.192640,293.069741,375.739337
336,월소비금액,148.929806,159.523877,162.944144,168.827131,169.851835,181.554627,191.077245,201.313312,206.715046,...,304.756914,310.423832,313.305298,317.277878,333.331813,344.522247,346.777758,359.380496,372.747846,420.248901
337,금융자산,1924.503610,2981.398985,3202.840088,3537.429443,3825.169678,3863.916040,3887.514651,3910.999986,3910.999986,...,9470.847656,9812.802745,9870.552436,10945.880859,10945.880859,11370.456558,12302.214844,21232.834905,29244.126953,37191.230469
338,월저축금액,72.131714,72.531174,93.382545,113.486974,131.430988,140.184116,160.686462,166.010837,173.228785,...,262.790894,262.790894,273.412811,273.412811,275.768341,277.393219,293.019349,305.934967,305.934967,431.368927
339,월소비금액,183.477764,225.697725,225.697725,226.010701,226.010701,227.603871,230.551002,231.051943,234.235647,...,397.828735,399.852466,407.947388,424.074750,428.679579,431.169773,433.874463,435.549245,450.614490,624.955688
340,금융자산,305.393921,318.469450,318.469450,335.185563,335.185563,335.185563,340.647155,340.647155,344.218709,...,2862.822996,2982.373036,5240.955843,8514.239620,8710.316373,10534.236538,11093.399743,11093.399743,11177.839781,17275.507812
341,월저축금액,6.842481,8.407698,9.075575,9.075575,9.075575,10.083941,11.744101,13.174751,13.174751,...,40.702173,40.702173,108.488637,149.408452,172.369882,183.426025,183.426025,183.426025,184.505478,211.077896
342,월소비금액,47.460442,73.912011,77.892171,79.768829,79.768829,79.768829,94.507088,94.507088,95.331252,...,267.167251,270.102227,382.111825,461.242194,466.971004,468.537652,468.537652,468.537652,495.269152,565.041214
343,금융자산,704.775334,718.226336,733.197174,801.744597,826.342975,833.457804,833.457804,854.351308,905.297974,...,4479.602829,4479.602829,4479.602829,4772.308715,5133.753616,5133.753616,5133.753616,5198.754108,5558.046736,7896.905273
344,월저축금액,34.249792,34.317254,39.548679,42.709386,43.504928,44.217888,44.217888,44.217888,45.718600,...,75.923843,76.138597,78.630181,79.690429,80.301117,80.301117,85.096746,93.542822,252.163518,267.813221
345,월소비금액,88.318751,89.232360,90.205603,124.521783,132.744979,133.188915,133.214965,135.628167,136.203139,...,220.757266,220.757266,222.932717,222.932717,225.298839,238.628848,247.684401,247.684401,350.638661,402.376442
346,금융자산,2098.646885,2470.272447,2584.947266,2659.967217,2857.098779,3227.010928,3257.728027,3334.839404,3417.228615,...,9301.112930,9484.081055,9698.515664,11202.472884,12302.214844,14717.692446,14717.692446,14717.692446,15852.301758,15852.301758
347,월저축금액,46.972049,47.032330,48.593544,50.124917,50.571381,51.162203,52.900497,52.900497,54.939486,...,92.494477,96.260300,99.673729,101.066750,102.733987,190.269348,203.972780,205.164383,205.164383,243.824509
348,월소비금액,169.562819,201.129267,213.306097,218.740326,219.448053,219.624985,222.257007,226.995710,228.798737,...,316.608490,316.608490,334.193183,337.669192,343.507446,351.662204,360.180602,381.801099,382.205597,392.837848
349,금융자산,470.130262,470.130262,526.394088,760.114427,760.746582,770.802408,817.598418,887.526705,924.106934,...,2264.454346,2264.454346,2269.425842,2290.620117,2290.620117,2453.815485,2530.613306,2623.590972,2953.619536,8597.158203
350,월저축금액,3.433541,4.720691,4.720691,6.067312,6.306786,6.306786,6.306786,6.306786,6.306786,...,23.573335,24.428691,24.428691,35.537816,35.537816,35.537816,39.493312,39.493312,39.493312,165.389501
351,월소비금액,12.376460,12.441584,12.441584,12.441584,12.441584,12.441584,12.608114,12.608114,12.608114,...,146.050156,146.789634,157.561323,166.638672,179.246949,185.853989,233.322450,237.668762,237.668762,374.568756
352,금융자산,997.421570,1720.951172,1842.280884,1871.846725,2041.960800,2933.020426,2981.953959,3251.360047,3273.103445,...,7072.394494,7513.100684,7854.622339,9101.804866,10581.106934,10612.532227,13621.094639,15412.376953,15575.149131,53657.089844
353,월저축금액,11.295449,40.163334,40.163334,40.163334,46.397292,72.774511,81.420015,82.000893,83.692319,...,172.920285,175.082108,184.410065,266.327301,266.327301,266.327301,267.813221,267.813221,310.173066,521.268059
354,월소비금액,140.611474,160.190323,163.846916,164.242735,164.254946,164.490985,165.067192,165.569900,166.379395,...,373.037183,376.090272,382.026955,403.112854,426.979512,458.282845,473.310762,485.265410,513.925484,584.900958
355,금융자산,99.060788,99.060788,104.146161,126.198530,129.156215,129.156215,129.437953,146.492925,164.255757,...,707.802436,856.266808,885.940735,885.940735,885.940735,885.940735,992.460754,1124.985474,1224.491577,1862.849985
356,월저축금액,2.241523,3.706657,3.917887,4.781762,5.180525,5.590497,5.933287,6.270074,6.356704,...,31.755753,34.110794,38.295977,41.174719,41.242455,43.072813,47.716221,49.647262,60.782383,68.153100
357,월소비금액,20.213787,22.687530,28.190729,29.947654,29.964299,31.661403,32.022868,33.465678,33.639861,...,89.847360,89.910792,91.050629,92.102715,95.673595,96.741608,103.684280,104.769452,112.282974,125.988886
358,금융자산,129.286894,189.312803,279.206131,284.656891,284.656891,287.149946,287.321364,292.684691,299.400301,...,1185.760254,1214.476758,1435.944336,1435.944336,1648.733521,1648.733521,1648.733521,1722.206934,3079.360296,6977.977261
359,월저축금액,2.250664,2.295926,4.947463,6.051803,7.265843,7.537961,7.819882,8.077812,8.077812,...,16.673897,17.139527,17.528108,17.660207,19.231204,19.865384,23.755070,30.476964,30.476964,143.572021
360,월소비금액,12.608114,14.015488,16.116381,17.128331,17.128331,17.128331,18.789994,20.277198,20.307420,...,82.769637,83.624992,84.828814,85.805239,86.954910,89.071059,90.409714,105.948726,137.966416,448.029896

In [59]:
per_table.set_axis(np.array(pr_group) + 1, inplace = True)

In [60]:
per_table.less(10)

,비교대상컬럼,백분위수1,백분위수2,백분위수3,백분위수4,백분위수5,백분위수6,백분위수7,백분위수8,백분위수9,...,백분위수91,백분위수92,백분위수93,백분위수94,백분위수95,백분위수96,백분위수97,백분위수98,백분위수99,백분위수100
1,금융자산,439.980847,517.938921,528.854553,547.489929,570.082305,606.400821,632.731650,662.987887,671.667860,...,1456.445930,1521.495361,1533.123291,1560.448608,1611.225549,1780.977295,1804.166870,1966.234375,2657.786025,19839.583225
1,월저축금액,8.931134,9.683481,10.502205,13.482373,14.754992,15.549640,16.089199,16.550463,17.903460,...,45.231243,45.885937,47.121156,49.896557,51.426971,55.699291,59.260267,61.684003,140.392334,431.368927
1,월소비금액,54.396377,60.434052,65.263555,65.313953,69.374613,74.233940,80.841026,82.138936,88.572594,...,148.905273,151.626053,153.188522,153.935209,163.743027,172.093058,174.810228,182.455963,283.957886,447.693501
2,금융자산,1418.644165,1774.715667,2229.531013,2522.026796,2682.761719,2900.551443,2981.398985,3114.852489,3114.852489,...,8689.207031,8744.886719,9007.875977,9050.805664,9855.588720,9861.216086,10618.521036,11503.176531,13399.700195,53657.089844
2,월저축금액,33.644389,42.709386,52.434790,56.917841,59.781931,67.924594,72.131714,74.323780,75.593368,...,271.442302,272.876646,273.276151,278.054584,289.776286,298.623292,298.623292,306.819783,364.171819,521.268059
119,월저축금액,2.241523,3.706657,3.917887,4.781762,5.180525,5.590497,5.933287,6.270074,6.356704,...,31.755753,34.110794,38.295977,41.174719,41.242455,43.072813,47.716221,49.647262,60.782383,68.153100
119,월소비금액,20.213787,22.687530,28.190729,29.947654,29.964299,31.661403,32.022868,33.465678,33.639861,...,89.847360,89.910792,91.050629,92.102715,95.673595,96.741608,103.684280,104.769452,112.282974,125.988886
120,금융자산,129.286894,189.312803,279.206131,284.656891,284.656891,287.149946,287.321364,292.684691,299.400301,...,1185.760254,1214.476758,1435.944336,1435.944336,1648.733521,1648.733521,1648.733521,1722.206934,3079.360296,6977.977261
120,월저축금액,2.250664,2.295926,4.947463,6.051803,7.265843,7.537961,7.819882,8.077812,8.077812,...,16.673897,17.139527,17.528108,17.660207,19.231204,19.865384,23.755070,30.476964,30.476964,143.572021
120,월소비금액,12.608114,14.015488,16.116381,17.128331,17.128331,17.128331,18.789994,20.277198,20.307420,...,82.769637,83.624992,84.828814,85.805239,86.954910,89.071059,90.409714,105.948726,137.966416,448.029896

In [61]:
mapping_table = pd.Series( pd.Series(km_pre, \
                                     index = list(range(1,141751))).astype('object'), \
                                     index =list(range(1,141751)) , name = 'PeerGroupNo')

In [62]:
mapping_table.head()

1    12
2    41
3    62
4    41
5    41
Name: PeerGroupNo, dtype: object

In [63]:
per_table.to_csv('SHINHANBANK_Mission_NO2.csv', mode = 'w',encoding = 'MS949')

In [64]:
mapping_table.to_csv('SHINHANBANK_Mission_Mapping.csv', mode = 'w',encoding = 'MS949')